# API e Requisições
requests==2.31.0
requests-oauthlib==1.3.1

# Servidor Web
Flask==3.0.2
Werkzeug==3.0.1

# Banco de Dados
mysql-connector-python==8.3.0

# Variáveis de Ambiente
python-dotenv==1.0.1

# Dashboard
dash==2.15.0
dash-bootstrap-components==1.5.0
plotly==5.18.0
pandas==2.2.1
SQLAlchemy==2.0.27
pymysql==1.1.0

# Formatação de Data/Hora
python-dateutil==2.8.2